@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

nav {
  font-family: 'Roboto', sans-serif;

}

@keyframes navigation {
  to {
    transform: translateY(0px) rotate(0deg);
    border-radius: 0px;
    opacity: 100%;
  }

  from {
    transform: translateY(1200px) rotate(90deg);
    border-radius: 500px;
    opacity: 100%;
  }
}

.nav_anim {
  animation: navigation 1.5s ease-in-out;
}

.hero {
  background: url('/bg.jpg'), linear-gradient(to right, #1c1a1e, #4B4453, rgba(220, 220, 220, 0.075));
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 767.98px) {
  .hero {
    background: url('/bg.jpg'), linear-gradient(to bottom, #120132, #160141, rgba(0, 0, 0, 0.605));
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
  }
}

@keyframes logo_animate {
  0% {
    transform: scale(100%);
  }

  50% {
    transform: scale(110%);
  }

  100% {
    transform: scale(100%);
  }
}

.logo_hero {
  animation: logo_animate 4s infinite ease-in-out;
}

.image_wrapper {
  position: relative;
}

@keyframes swapper {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-5deg);
  }

}

@keyframes swapper_2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(18deg);

  }

  100% {
    transform: rotate(0deg);
  }

}

.image1 {
  position: absolute;
  animation: swapper_2 5s infinite 2s ease-out;
  transition: ease-in-out;
}

.image2 {
  position: absolute;
  animation: swapper 4s infinite ease-in-out;
  transition: ease-in-out;
}

@keyframes logo_anim {
  0% {
    transform: scale(100%) rotate(4deg);
  }

  50% {
    transform: scale(110%) rotate(0deg);
  }

  100% {
    transform: scale(100%) rotate(4deg);
  }
}

.logo_animate {
  animation: logo_anim 4s infinite 1s ease-out;
}